<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fhss.sjp.thesis.dyslexiaapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Dyslexia App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar" >

        <activity android:name=".examinemenu.LetterIdentify"/>
        <activity android:name=".examinemenu.ImageIdentify"/>
        <activity android:name=".learningmenu.LearnAlphabetWriting" />
        <activity android:name=".learningmenu.LearnAlphabet" />
        <activity android:name=".TestScreen" />
        <activity android:name=".LearnScreen" />
        <activity android:name=".learningmenu.LearnColors" />
        <activity android:name=".speakingwriting.WriteAndSpeakScreen"/>
        <activity android:name=".speakingwriting.WordPronunciationScreen"/>
        <activity android:name=".speakingwriting.WordWriteScreen"/>
        <activity android:name=".videolesson.VideoLessonScreen"/>

        <activity android:name=".videolesson.hodiya.HodiyaScreen"/>
        <activity android:name=".videolesson.hodiya.Hodiya1"/>
        <activity android:name=".videolesson.hodiya.Hodiya2"/>

        <activity android:name=".speakingwriting.VideoScreen"/>
        <activity android:name=".videolesson.Camera"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>